@mixin button($margin, $color:red) {
  color: $color;
  margin: $margin;
  padding:10px;
}

.btn-a {
  @include button(4px); //since $margin isn't set in @mixin line, we have to pass a value or we get an error
}

.btn-b {
  @include button(5px);
}

.btn {
  text: { //text adds text- to the attribute sepcification
    decoration:underline;
  }
}

@mixin transition($val...) { //... makes it into a vararg dismissing css values that crave multiple comma (like css animations)
  -webkit-transition: $val;
  -moz-transition: $val;
  transition: $val;
}

.btn-c {
  @include transition(color 0.3s ease-in, background 0.5s ease-out)
}

